@CHARSET "ISO-8859-1";

body {
	background-image: url('/FCISquareApp/pic/WelcomeMap.jpg');
	/*background-color: red;*/
	background-repeat: no-repeat;
	background-size: cover;
}

p {
	color: white;
	font-family: sans-serif;
}

label {
	color: #a00534;
	font-family: sans-serif;
	font-style: italic ;
	font-size: medium;
		font-weight:bolder;
	
}

h1 {
	text-align: center;
	padding-top: 25px;
	font-family: Comic Sans MS;
}

h2 {
	
	text-align: right;
	font-style:oblique;
	padding-right: 500px;
	font-weight:bolder;
	
}

form {
	text-align: right;
	padding-right: 570px;
	font-family: Comic Sans MS;
	color: white;
}

.section {
	padding-top: 30px;
	text-align: right;
	padding-right: 50px;
	font-family: Comic Sans MS, cursive, sans-serif;
	color: red;
}

button {
	background-color: #fc5c5c;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.All p[name="head"] {
	font-family: Bangers;
	font-style: italic;
	font-size: 80px;
	top: 10px;
	text-align: center; 
	padding-left : 140px;
	padding-top: -80px;
	color: #a00534;
	padding-left: 140px;
}

h2[name="ab"] a:hover {
	color: #a00534;
	transition-duration: 1s;
	font-family: sans-serif;
	font-style: italic;
	font-size: 20px;
	
}

p[name1="ab1"] button:HOVER {
	color: #000000;
	transition-duration: 1s;
	font-family: sans-serif;
	font-style: italic;
	font-size: large;
}

/*.ALL{
	
	padding-top: 1000px;
}*/